  <header>
    <h1>LOSER…</1>
  </header>
    <div class="top-container">
      <div class="main-message">
        <h1>残念・・・</h1>
        <h1>あなたの負けです、、、</h1>
      </div>
      <div class="main-contents">
      <%= image_tag "/assets/other_images/junjun.jpg", :size => "480x576"  %>
      </div>
      <div class="footer-message">
        <p>つぎはEMPIREの画像をGETしよう！！</p>
      </div>
    </div>  
    <div class="btn">
      <ul>
        <a href="/emp/janken", >再チャレンジ</a>
        <a href="/">トップへ戻る</a>
      </ul>
      <a href="https://empire-official.com/">また今度(EMPIRE公式ページへ行く)</a>
    </div>
