  <header>
    <h1>WiNNER!!!!!!</h1>
  </header>
    <div class="top-container">
      <div class="main-message">
        <h1>おめでとう！！！！</h1>
        <h1>あなたの勝ちです！！</h1>
        <h2>プレゼント画像はこちら！</h2>
      </div>
      <div class="main-contents">
      <%= image_tag "/assets/emp_images/empire_all2.png", :size => "480x573"  %>
      </div>
      <div class="footer-message">
        <p>じゃんけんに勝つとランダムに出現！</p>
        <p>全部で15種類あるよ(^_-)</p>
        <p>目指せコンプリート！</p>
      </div>
    </div>
    <div class="btn">
      <ul>
      <a href="/emp/janken">もう一回勝負する！</a>
      <a href="/">トップへ戻る</a>
      </ul>
      <a href="https://empire-official.com/">また今度(EMPiRE公式ページへ行く)</a>
    </div>
