    <header>
      <h1>W-GAMEへようこそ</h1>
    </header>
      <div class="top-container">
        <div class="top-message">
          <h2>ゲームセレクト</h2>
        </div>
      <div class="main-container">
        <div class="main-message">
          <p>↓↓　LET'Play Now　↓↓</p>
        </div>  
      <div class="game-select">
          <a href="/emp/janken">EMP-じゃんけん</a>
          <a href="/bsh/about">bhs-ゲーム(準備中)</a>
          <a href="/cl/about">cl-ゲーム(準備中)</a>
          <a href="/para/about">para-ゲーム(準備中)</a>
          <a href="/gttb/about">gttb-ゲーム(準備中)</a>
          <a href="/wag/about">wag-ゲーム(準備中)</a>
          <a href="/bis/about">bis-ゲーム(準備中)</a>
      </div>