.top_content_wrapper #top_image {
  max-width: 100%;
  margin: 50px;
}

/* main */
.main_content {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

section {
  width: 60%;
  font-family: "Sawarabi Gothic";
}

section h2#main_head {
  font-size: 3em;
  text-align: center;
  color: darkblue;
}

section p {
  font-size: 1.3em;
}

section dl {
  height: 80vh;
  margin-top: 50px;
}

section dt#sub_head1, section #sub_head2, section #sub_head3 {
  font-size: 1.7em;
  font-weight: bold;
  background-color: blue;
  color: yellow;
}

section dt#sub_head1.inview, section #sub_head2.inview, section #sub_head3.inview {
  opacity: 1;
}

section dt#sub_head1.inview .char, section #sub_head2.inview .char, section #sub_head3.inview .char {
  display: inline-block;
  animation-name: kf-animate-chars;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-conunt: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

section dt#sub_head1.inview .char:nth-child(1), section #sub_head2.inview .char:nth-child(1), section #sub_head3.inview .char:nth-child(1) {
  animation-delay: 0.08s;
}

section dt#sub_head1.inview .char:nth-child(2), section #sub_head2.inview .char:nth-child(2), section #sub_head3.inview .char:nth-child(2) {
  animation-delay: 0.16s;
}

section dt#sub_head1.inview .char:nth-child(3), section #sub_head2.inview .char:nth-child(3), section #sub_head3.inview .char:nth-child(3) {
  animation-delay: 0.24s;
}

section dt#sub_head1.inview .char:nth-child(4), section #sub_head2.inview .char:nth-child(4), section #sub_head3.inview .char:nth-child(4) {
  animation-delay: 0.32s;
}

section dt#sub_head1.inview .char:nth-child(5), section #sub_head2.inview .char:nth-child(5), section #sub_head3.inview .char:nth-child(5) {
  animation-delay: 0.4s;
}

section dt#sub_head1.inview .char:nth-child(6), section #sub_head2.inview .char:nth-child(6), section #sub_head3.inview .char:nth-child(6) {
  animation-delay: 0.48s;
}

section dt#sub_head1.inview .char:nth-child(7), section #sub_head2.inview .char:nth-child(7), section #sub_head3.inview .char:nth-child(7) {
  animation-delay: 0.56s;
}

section dt#sub_head1.inview .char:nth-child(8), section #sub_head2.inview .char:nth-child(8), section #sub_head3.inview .char:nth-child(8) {
  animation-delay: 0.64s;
}

section dt#sub_head1.inview .char:nth-child(9), section #sub_head2.inview .char:nth-child(9), section #sub_head3.inview .char:nth-child(9) {
  animation-delay: 0.72s;
}

section dt#sub_head1.inview .char:nth-child(10), section #sub_head2.inview .char:nth-child(10), section #sub_head3.inview .char:nth-child(10) {
  animation-delay: 0.8s;
}

section dt#sub_head1.inview .char:nth-child(11), section #sub_head2.inview .char:nth-child(11), section #sub_head3.inview .char:nth-child(11) {
  animation-delay: 0.88s;
}

section dt#sub_head1.inview .char:nth-child(12), section #sub_head2.inview .char:nth-child(12), section #sub_head3.inview .char:nth-child(12) {
  animation-delay: 0.96s;
}

section dt#sub_head1.inview .char:nth-child(13), section #sub_head2.inview .char:nth-child(13), section #sub_head3.inview .char:nth-child(13) {
  animation-delay: 1.04s;
}

section dt#sub_head1.inview .char:nth-child(14), section #sub_head2.inview .char:nth-child(14), section #sub_head3.inview .char:nth-child(14) {
  animation-delay: 1.12s;
}

section dt#sub_head1.inview .char:nth-child(15), section #sub_head2.inview .char:nth-child(15), section #sub_head3.inview .char:nth-child(15) {
  animation-delay: 1.2s;
}

section dt#sub_head1.inview .char:nth-child(16), section #sub_head2.inview .char:nth-child(16), section #sub_head3.inview .char:nth-child(16) {
  animation-delay: 1.28s;
}

section dt#sub_head1.inview .char:nth-child(17), section #sub_head2.inview .char:nth-child(17), section #sub_head3.inview .char:nth-child(17) {
  animation-delay: 1.36s;
}

section dt#sub_head1.inview .char:nth-child(18), section #sub_head2.inview .char:nth-child(18), section #sub_head3.inview .char:nth-child(18) {
  animation-delay: 1.44s;
}

section dt#sub_head1.inview .char:nth-child(19), section #sub_head2.inview .char:nth-child(19), section #sub_head3.inview .char:nth-child(19) {
  animation-delay: 1.52s;
}

section dt#sub_head1.inview .char:nth-child(20), section #sub_head2.inview .char:nth-child(20), section #sub_head3.inview .char:nth-child(20) {
  animation-delay: 1.6s;
}

section dt#sub_head1.inview .char:nth-child(21), section #sub_head2.inview .char:nth-child(21), section #sub_head3.inview .char:nth-child(21) {
  animation-delay: 1.68s;
}

section dt#sub_head1.inview .char:nth-child(22), section #sub_head2.inview .char:nth-child(22), section #sub_head3.inview .char:nth-child(22) {
  animation-delay: 1.76s;
}

section dt#sub_head1.inview .char:nth-child(23), section #sub_head2.inview .char:nth-child(23), section #sub_head3.inview .char:nth-child(23) {
  animation-delay: 1.84s;
}

section dt#sub_head1.inview .char:nth-child(24), section #sub_head2.inview .char:nth-child(24), section #sub_head3.inview .char:nth-child(24) {
  animation-delay: 1.92s;
}

section dt#sub_head1.inview .char:nth-child(25), section #sub_head2.inview .char:nth-child(25), section #sub_head3.inview .char:nth-child(25) {
  animation-delay: 2s;
}

section dt#sub_head1.inview .char:nth-child(26), section #sub_head2.inview .char:nth-child(26), section #sub_head3.inview .char:nth-child(26) {
  animation-delay: 2.08s;
}

section dt#sub_head1.inview .char:nth-child(27), section #sub_head2.inview .char:nth-child(27), section #sub_head3.inview .char:nth-child(27) {
  animation-delay: 2.16s;
}

section dt#sub_head1.inview .char:nth-child(28), section #sub_head2.inview .char:nth-child(28), section #sub_head3.inview .char:nth-child(28) {
  animation-delay: 2.24s;
}

section dt#sub_head1.inview .char:nth-child(29), section #sub_head2.inview .char:nth-child(29), section #sub_head3.inview .char:nth-child(29) {
  animation-delay: 2.32s;
}

section dt#sub_head1.inview .char:nth-child(30), section #sub_head2.inview .char:nth-child(30), section #sub_head3.inview .char:nth-child(30) {
  animation-delay: 2.4s;
}

section dt#sub_head1.inview .char:nth-child(31), section #sub_head2.inview .char:nth-child(31), section #sub_head3.inview .char:nth-child(31) {
  animation-delay: 2.48s;
}

section dt#sub_head1.inview .char:nth-child(32), section #sub_head2.inview .char:nth-child(32), section #sub_head3.inview .char:nth-child(32) {
  animation-delay: 2.56s;
}

section dt#sub_head1.inview .char:nth-child(33), section #sub_head2.inview .char:nth-child(33), section #sub_head3.inview .char:nth-child(33) {
  animation-delay: 2.64s;
}

section dt#sub_head1.inview .char:nth-child(34), section #sub_head2.inview .char:nth-child(34), section #sub_head3.inview .char:nth-child(34) {
  animation-delay: 2.72s;
}

section dt#sub_head1.inview .char:nth-child(35), section #sub_head2.inview .char:nth-child(35), section #sub_head3.inview .char:nth-child(35) {
  animation-delay: 2.8s;
}

section dt#sub_head1.inview .char:nth-child(36), section #sub_head2.inview .char:nth-child(36), section #sub_head3.inview .char:nth-child(36) {
  animation-delay: 2.88s;
}

section dt#sub_head1.inview .char:nth-child(37), section #sub_head2.inview .char:nth-child(37), section #sub_head3.inview .char:nth-child(37) {
  animation-delay: 2.96s;
}

section dt#sub_head1.inview .char:nth-child(38), section #sub_head2.inview .char:nth-child(38), section #sub_head3.inview .char:nth-child(38) {
  animation-delay: 3.04s;
}

section dt#sub_head1.inview .char:nth-child(39), section #sub_head2.inview .char:nth-child(39), section #sub_head3.inview .char:nth-child(39) {
  animation-delay: 3.12s;
}

section dt#sub_head1.inview .char:nth-child(40), section #sub_head2.inview .char:nth-child(40), section #sub_head3.inview .char:nth-child(40) {
  animation-delay: 3.2s;
}

section dt#sub_head1.inview .char:nth-child(41), section #sub_head2.inview .char:nth-child(41), section #sub_head3.inview .char:nth-child(41) {
  animation-delay: 3.28s;
}

section dt#sub_head1.inview .char:nth-child(42), section #sub_head2.inview .char:nth-child(42), section #sub_head3.inview .char:nth-child(42) {
  animation-delay: 3.36s;
}

section dt#sub_head1.inview .char:nth-child(43), section #sub_head2.inview .char:nth-child(43), section #sub_head3.inview .char:nth-child(43) {
  animation-delay: 3.44s;
}

section dt#sub_head1.inview .char:nth-child(44), section #sub_head2.inview .char:nth-child(44), section #sub_head3.inview .char:nth-child(44) {
  animation-delay: 3.52s;
}

section dt#sub_head1.inview .char:nth-child(45), section #sub_head2.inview .char:nth-child(45), section #sub_head3.inview .char:nth-child(45) {
  animation-delay: 3.6s;
}

section dt#sub_head1.inview .char:nth-child(46), section #sub_head2.inview .char:nth-child(46), section #sub_head3.inview .char:nth-child(46) {
  animation-delay: 3.68s;
}

section dt#sub_head1.inview .char:nth-child(47), section #sub_head2.inview .char:nth-child(47), section #sub_head3.inview .char:nth-child(47) {
  animation-delay: 3.76s;
}

section dt#sub_head1.inview .char:nth-child(48), section #sub_head2.inview .char:nth-child(48), section #sub_head3.inview .char:nth-child(48) {
  animation-delay: 3.84s;
}

section dt#sub_head1.inview .char:nth-child(49), section #sub_head2.inview .char:nth-child(49), section #sub_head3.inview .char:nth-child(49) {
  animation-delay: 3.92s;
}

section dt#sub_head1.inview .char:nth-child(50), section #sub_head2.inview .char:nth-child(50), section #sub_head3.inview .char:nth-child(50) {
  animation-delay: 4s;
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

section dd {
  font-size: 1.3em;
  margin: 10px;
}

#sidebar {
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* resposive */
}

#sidebar #key, #sidebar #water, #sidebar #car, #sidebar #wrecar {
  position: relative;
  margin-top: 5px;
}

#sidebar #key img, #sidebar #water img, #sidebar #car img, #sidebar #wrecar img {
  display: block;
  width: 100%;
  align-items: center;
}

#sidebar #key img:hover, #sidebar #water img:hover, #sidebar #car img:hover, #sidebar #wrecar img:hover {
  opacity: 0.6;
}

#sidebar #key h3, #sidebar #water h3, #sidebar #car h3, #sidebar #wrecar h3 {
  color: white;
  font-size: 1.3em;
  padding: 0 10px;
  background-color: black;
  position: absolute;
  z-index: 10;
  left: 5%;
}

#sidebar #key a, #sidebar #water a, #sidebar #car a, #sidebar #wrecar a {
  text-decoration: none;
  color: black;
}

#sidebar #key a:visited, #sidebar #water a:visited, #sidebar #car a:visited, #sidebar #wrecar a:visited {
  text-decoration: none;
  color: black;
}

@media (max-width: 600px) {
  #sidebar html {
    font-size: 87.5%;
  }
  #sidebar .header_logo {
    width: 60px;
  }
  #sidebar .contents {
    flex-direction: column;
    margin-top: 10px;
  }
  #sidebar #main_content,
  #sidebar #sidebar {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */