body {
    background-color: azure;
    max-width: 50%;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}

.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 30px auto;
    color: lightblue;
}

#name {
    font-size: 30px;
    color: black;
    text-align: center;
}

#btn2 {
    display: block;
    text-align: center;
    margin: 30px auto;
    height: 30px;

}

#form { 
    text-align: center;
}

#input {
    width: 15vw;
    height: 3vh;
    text-align: center;
}

ul {
    font-size: 1.2em;
}

li {
    color: black;
    width: 500px;
    height: 30px;    
    text-align: center;
    margin: 5px auto;
    background-color: white;
    border: 1px solid black;
    list-style: none;
}

.strike-through {
    text-decoration: line-through;
}

.clear-btn {
    width: 100px;
    height: 30px;
    display: block;
    margin: 50px auto;
    align-items: center;
    background-color: crimson;
    color: black;
    font-weight: bold;
}